@model PersonalInformation
@{
    ViewData["Title"] = "PersonalInformations";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

@* <style>
    .MainHeading {
        background-color: cornflowerblue !important;
        color: white !important;
    }

    .form-check-input {
        position: absolute;
        margin-top: 0.3rem;
        margin-left: 1rem;
    }

    .text-red {
        color: red;
    }

    .card {
        box-shadow: 5 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 60%;
    } *@
</style>
<body>
    <div class="">

        <form method="post" enctype="multipart/form-data" asp-controller="PersonalInformationDataTable" asp-action="Edit">
            <table style="width:100%" class="table table-hover">

                <tr>
                    <th class="MainHeading" colspan="6"> Personal Information </th>

                </tr>
            </table>
            <div class="row">
                <div class="col-md-4">
                    @Html.HiddenFor(x => x.Id )
                    @Html.LabelFor(x => x.FirstName)
                    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-red" })
                </div>

                <div class="col-md-4" id="mn1">
                    @Html.LabelFor(X => X.MiddleName)
                    @Html.TextBoxFor(x => x.MiddleName, new { @class = "form-control" })
                </div>


                <div class="col-md-4" id="ln1">
                    @Html.LabelFor(X => X.LastName)
                    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", type = "string" })
                    @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-red" })
                </div>

                <br />


                <div class="col-md-2" id="provience1">
                    @Html.LabelFor(X => X.ProvienceId)
                    @Html.TextBoxFor(x => x.ProvienceId, new { @class = "form-control", type = "string" })
                    @Html.ValidationMessageFor(x => x.ProvienceId, "", new { @class = "text-red" })
                </div>


                <div class="col-md-3" id="district1">
                    @Html.LabelFor(X => X.DistrictId)
                    @Html.TextBoxFor(x => x.DistrictId, new { @class = "form-control", type = "string" })
                    @Html.ValidationMessageFor(x => x.DistrictId, "", new { @class = "text-red" })
                </div>
                <div class="col-md-3" id=" muni1">
                    @Html.LabelFor(X => X.MuniId)
                    @Html.TextBoxFor(x => x.MuniId, new { @class = "form-control", type = "" })
                    @Html.ValidationMessageFor(x => x.MuniId, "", new { @class = "text-red" })
                </div>
                <div class="col-md-2" id=" tole1">
                    @Html.LabelFor(X => X.Tole)
                    @Html.TextBoxFor(x => x.Tole, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Tole, "", new { @class = "text-red" })
                </div>
                <div class="col-md-2" id=" =ward1">
                    @Html.LabelFor(X => X.Ward)
                    @Html.TextBoxFor(x => x.Ward, new { @class = "form-control", type = "number" })
                </div>
                <br />

                <div class="col-md-4">

                    @Html.LabelFor(X => X.HomePhoneNumber)
                    @Html.TextBoxFor(x => x.HomePhoneNumber, new { @class = "form-control", type = "number", placeholder = "Enter Home PhoneNumber" })
                    @*       @Html.ValidationMessageFor(x => x.HomePhoneNumber, "", new { @class = "text-red" }) *@
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(X => X.Mobile)
                    @Html.TextBoxFor(x => x.Mobile, new { @class = "form-control", type = "number", placeholder = "Enter your phone number" })
                    @*   @Html.ValidationMessageFor(x => x.Mobile, "", new { @class = "text-red" }) *@
                </div>

                <div class="col-md-4" id=" citizen">

                    @Html.LabelFor(X => X.CitizenshipNo)
                    @Html.TextBoxFor(x => x.CitizenshipNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.CitizenshipNo, "", new { @class = "text-red" })
                </div>
                <br />


                <div class="col-md-6" id=" =email">
                    @Html.LabelFor(X => X.Email)
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Enter your Email" })
                    @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-red" })
                </div>

                <div class="col-md-6" id="haslicience">
                    <br />
                    @Html.LabelFor(X => X.HasLicence)
                    @Html.CheckBoxFor(x => x.HasLicence, new { @class = "form-check-input" })




                </div>
            </div>
            <br />

            <div class="form-group">
                <input type="submit" id="submitBtn" value="Save" class="btn btn-primary" />
                <a asp-action="PersonalInformationDataTable">Back to List</a>
            </div>
        </form>
    </div>
</body>