@using InternshipForm.ViewModel
@model InternshipFormViewModel

@{
    ViewData["Title"] = "Create Post";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}
<link href="https://nepalidatepicker.sajanmaharjan.com.np/nepali.datepicker/css/nepali.datepicker.v4.0.1.min.css"
      rel="stylesheet" type="text/css" />
<link href="~/plugins/jquery-ui/jquery-ui.structure.css" rel="stylesheet" />
<link href="~/plugins/jquery-ui/jquery-ui.structure.min.css" rel="stylesheet" />
<link href="~/plugins/jquery-ui/jquery-ui.theme.min.css" rel="stylesheet" />
<link href="~/plugins/jquery-ui/jquery-ui.theme.css" rel="stylesheet" />
<link href="~/plugins/jquery-ui/jquery-ui.structure.css" rel="stylesheet" />
<style>
    .MainHeading {
        background-color: black !important;
        color: white !important;
    }

    .form-check-input {
        position: absolute;
        margin-top: 0.3rem;
        margin-left: 1rem;
    }

    .text-red {
        color: red;
    }

</style>


<h3 class=" text-center"> Internship Form</h3>
<br />
<form method="post" enctype="multipart/form-data" asp-controller="Form" asp-action="CreatePost">
    @*      <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#officialUse" aria-expanded="true" aria-controls="collapseOne">
    <strong>Offical Use</strong>
    </button>
    </h2>
    <div id="officialUse" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">  *@
    @*   <div class=" MainHeading">
    <strong> Official Use </strong>
    </div> *@
    <table style="width:100%" class="table table-hover">

        <tr>
            <th class="MainHeading" colspan="6"> Official Use </th>

        </tr>
    </table>
    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(x => x.OfficalUse.Internship_For, new { @class = "" })

            @Html.TextBoxFor(x => x.OfficalUse.Internship_For, new { @class = "form-control" })

            <!-- Add any additional Bootstrap styling or validation messages here -->
        </div>
        <div class="col-md-6">
            @Html.LabelFor(x => x.OfficalUse.Intern_Id, new { @class = "" })


            @Html.TextBoxFor(x => x.OfficalUse.Intern_Id, new { @class = "form-control" })
        </div>

        <div class="col-md-6">
            @Html.LabelFor(x => x.OfficalUse.Duration_of_Internship, new { @class = "" })


            @Html.TextBoxFor(x => x.OfficalUse.Duration_of_Internship, new { @class = "form-control", type = "number" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(x => x.OfficalUse.Authorized_Signature)
            @Html.TextBoxFor(x => x.OfficalUse.Authorized_Signature, new { @class = "form-control" })
        </div>

    </div>
    @*     <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#personalInformation" aria-expanded="true" aria-controls="collapseOne">
    <strong>Personal Information </strong>
    </button>
    </h2>
    <div id="personalInformation" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body"> *@

    <br />
    <table style="width:100%" class="table table-hover">

        <tr>
            <th class="MainHeading" colspan="6"> Personal Information </th>

        </tr>
    </table>

    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(x => x.PersonalInformation.FirstName)
            @Html.TextBoxFor(x => x.PersonalInformation.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.PersonalInformation.FirstName, "", new { @class = "text-red" })
        </div>

        <div class="col-md-4">
            @Html.LabelFor(X => X.PersonalInformation.MiddleName)
            @Html.TextBoxFor(x => x.PersonalInformation.MiddleName, new { @class = "form-control" })

        </div>


        <div class="col-md-4">
            @Html.LabelFor(X => X.PersonalInformation.LastName)
            @Html.TextBoxFor(x => x.PersonalInformation.LastName, new { @class = "form-control", type = "string" })
            @Html.ValidationMessageFor(x => x.PersonalInformation.LastName, "", new { @class = "text-red" })
        </div>

        <br />


        <div class="col-md-2">
            @Html.LabelFor(X => X.PersonalInformation.ProvienceId)
            @Html.TextBoxFor(x => x.PersonalInformation.ProvienceId, new { @class = "form-control", type = "string" })
            @Html.ValidationMessageFor(x => x.PersonalInformation.ProvienceId, "", new { @class = "text-red" })
        </div>


        <div class="col-md-3">
            @Html.LabelFor(X => X.PersonalInformation.DistrictId)
            @Html.TextBoxFor(x => x.PersonalInformation.DistrictId, new { @class = "form-control", type = "string" })
            @Html.ValidationMessageFor(x => x.PersonalInformation.DistrictId, "", new { @class = "text-red" })
        </div>
        <div class="col-md-3">
            @Html.LabelFor(X => X.PersonalInformation.MuniId)
            @Html.TextBoxFor(x => x.PersonalInformation.MuniId, new { @class = "form-control", type = "" })
            @Html.ValidationMessageFor(x => x.PersonalInformation.MuniId, "", new { @class = "text-red" })
        </div>
        <div class="col-md-2">
            @Html.LabelFor(X => X.PersonalInformation.Tole)
            @Html.TextBoxFor(x => x.PersonalInformation.Tole, new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            @Html.LabelFor(X => X.PersonalInformation.Ward)
            @Html.TextBoxFor(x => x.PersonalInformation.Ward, new { @class = "form-control", type = "number" })
        </div>
        <br />

        <div class="col-md-4">

            @Html.LabelFor(X => X.PersonalInformation.HomePhoneNumber)
            @Html.TextBoxFor(x => x.PersonalInformation.HomePhoneNumber, new { @class = "form-control", type = "number", placeholder = "Enter Home PhoneNumber" })
        </div>

        <div class="col-md-4">
            @Html.LabelFor(X => X.PersonalInformation.Mobile)
            @Html.TextBoxFor(x => x.PersonalInformation.Mobile, new { @class = "form-control", type = "number", placeholder = "Enter your phone number" })
            @Html.ValidationMessageFor(x => x.PersonalInformation.Mobile, "", new { @class = "text-red" })
        </div>

        <div class="col-md-4">

            @Html.LabelFor(X => X.PersonalInformation.CitizenshipNo)
            @Html.TextBoxFor(x => x.PersonalInformation.CitizenshipNo, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.PersonalInformation.CitizenshipNo, "", new { @class = "text-red" })
        </div>
        <br />


        <div class="col-md-6">
            @Html.LabelFor(X => X.PersonalInformation.Email)
            @Html.TextBoxFor(x => x.PersonalInformation.Email, new { @class = "form-control", placeholder = "Enter your Email" })
            @Html.ValidationMessageFor(x => x.PersonalInformation.Email, "", new { @class = "text-red" })
        </div>

        <div class="col-md-6">
            <br />
            @Html.LabelFor(X => X.PersonalInformation.HasLicence)
            @Html.CheckBoxFor(x => x.PersonalInformation.HasLicence, new { @class = "form-check-input" })





        </div>
    </div>





    @*
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#education" aria-expanded="true" aria-controls="collapseOne">
    <strong> Education </strong>
    </button>
    </h2>
    <div id="education" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body"> *@

    <br />
    <table style="width:100%" class="table table-hover">

        <tr>
            <th class="MainHeading" colspan="6"> Education </th>

        </tr>
    </table>
    <table style="width:100%" class="table table-bordered">
        <tr colspan="6">
        <thead>


            <tr>
                <th> @Html.Label("School/CollegeName")</th>

                <th>@Html.Label("Location") </th>
                <th>@Html.Label("StartYear") </th>
                <th>@Html.Label("CompletionYear")</th>
                <th>@Html.Label("Major")</th>
                <th> Action</th>
            </tr>
        </thead>



        <tbody id="tableEducation">
                @for (int i = 0; i < Model.Education.Count; i++)
                {


                <tr>
                    <td>
                            @Html.TextBoxFor(X => X.Education[i].SchoolorCollegeName, new { @class = "" })
                            @Html.ValidationMessageFor(x => x.Education[i].SchoolorCollegeName, "", new { @class = "text-red" })
                    </td>


                    <td>
                            @Html.TextBoxFor(X => X.Education[i].Location)
                            @Html.ValidationMessageFor(x => x.Education[i].Location, "", new { @class = "text-red" })
                    </td>
                    <td>
                            @Html.TextBoxFor(X => X.Education[i].StartYear, new { @class = "datepicker" })
                            @* @Html.ValidationMessageFor(x => x.Education[i].StartYear, "", new { @class = "text-red" }) *@
                    </td>
                    <td>
                            @Html.TextBoxFor(X => X.Education[i].CompletionYear, new { @class = "datepicker" })
                          @*   @Html.ValidationMessageFor(x => x.Education[i].CompletionYear, "", new { @class = "text-red" }) *@
                    </td>
                    <td>
                            @Html.TextBoxFor(X => X.Education[i].Major)
                            @Html.ValidationMessageFor(x => x.Education[i].Major, "", new { @class = "text-red" })
                    </td>
                    <td>
                            @*   <button type="button" class="deletebtn" title="Remove row">Delete</button> *@

                    </td>
                </tr>
                }
        </tbody>



    </table>
    <button class="btn btn-md btn-primary" id="newbtn" type="button"> Add </button>
    <br />
    <div>
        @Html.LabelFor(x => x.certiLice.certilice)
        @Html.TextAreaFor(x => x.certiLice.certilice, new { @class = "form-control" })
    </div>


    @* div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#guardianDetails" aria-expanded="true" aria-controls="collapseOne">
    <strong> Guardian Details </strong>
    </button>
    </h2>
    <div id="guardianDetails" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body"> *@
    <br />
    <br />
    <table style="width:100%" class="table table-hover">

        <tr>
            <th class="MainHeading" colspan="6"> Guardian Details </th>

        </tr>
    </table>
    <table style="width:100%" class="table table-bordered">
        <tr colspan="6"></tr>
        <tr>
            <th>@Html.Label("Name") </th>
            <th>@Html.Label("Relation") </th>
            <th>@Html.Label("Address") </th>
            <th>@Html.Label("Phone No")</th>
            <th>@Html.Label("Signature")</th>

        </tr>
        <tr>
            <td>
                @Html.TextBoxFor(x => x.GuardianDetails.Name)
                @Html.ValidationMessageFor(x => x.GuardianDetails.Name, "", new { @class = "text-red" })
            </td>
            <td>
                @Html.TextBoxFor(x => x.GuardianDetails.Relation)
                @Html.ValidationMessageFor(x => x.GuardianDetails.Relation, "", new { @class = "text-red" })
            </td>
            <td>
                @Html.TextBoxFor(x => x.GuardianDetails.Address)
                @Html.ValidationMessageFor(x => x.GuardianDetails.Address, "", new { @class = "text-red" })
            </td>
            <td>
                @Html.TextBoxFor(x => x.GuardianDetails.PhoneNumber, new { @class = "", type = "number" })
                @Html.ValidationMessageFor(x => x.GuardianDetails.PhoneNumber, "", new { @class = "text-red" })
            </td>
            <td>
                @Html.TextBoxFor(x => x.GuardianDetails.Signature)
                @Html.ValidationMessageFor(x => x.GuardianDetails.Signature, "", new { @class = "text-red" })
            </td>
        </tr>
    </table>


    @*     <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#references" aria-expanded="true" aria-controls="collapseOne">
    <strong> References</strong>
    </button>
    </h2>
    <div id="references" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body"> *@

    <br />
    <table style="width:100%" class="table table-hover">

        <tr>
            <th class="MainHeading" colspan="6"> References </th>

        </tr>
    </table>
    <table style="width:100%" class="table table-bordered">
        <tr colspan="6">

            <th>@Html.Label("Name") </th>
            <th>@Html.Label("Position") </th>
            <th>@Html.Label("College/Company") </th>
            <th>@Html.Label("Phone ")</th>
            <th>@Html.Label("Signature")</th>

        </tr>
        <tr>
            <td> @Html.TextBoxFor(x => x.References.Name)</td>
            <td> @Html.TextBoxFor(x => x.References.Positions)</td>
            <td> @Html.TextBoxFor(x => x.References.College_Company)</td>
            <td> @Html.TextBoxFor(x => x.References.Phone, new { @class = "", type = "number" })</td>
            <td> @Html.TextBoxFor(x => x.References.Signature)</td>
        </tr>
    </table>


    <div>
        <p> I hereby declare that all the information provided in this internship application form is true, accurate,and complete to the best of my knowledge and belif. I will fully obey the rules and regulation of the company and i understand that any false or misleading information provided may result in the rejection of my application or termination of my internship. </p>
    </div>
    <div class="row justify-content-between">
        <div class="col-md-10">
            <input type="text" /><br />
            <label class="">Intern Signature</label>
        </div>
        <div class="col-md-2">
            <label for="avatar">Profile picture:</label>
            <input type="file" id="photo" name="avatar" accept="image/png, image/jpeg" />
            <img id="photoPreview" alt="Preview" style="max-width: 50%; display: none;" />
        </div>

    </div>
    <br />
    <div class="form-group">
        <input type="submit" id="submitBtn" value="submit" class="btn  bg-primary" />
    </div>
</form>


<script src="https://nepalidatepicker.sajanmaharjan.com.np/nepali.datepicker/js/nepali.datepicker.v4.0.1.min.js"
        type="text/javascript"></script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"> </script>
<script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script type="text/javascript" >

        $(document).ready(function () {
            var x = 1;
            $("#newbtn").click(function () {

                var educationContainer = $("#tableEducation tr:first").clone();
                var removeButton = '<button class="btn btn-md btn-primary deletebtn" type="button" title="Remove row">Delete</button>';

                var fieldCount = $("#tableEducation").children().length;
                console.log(fieldCount);

                educationContainer.find("input").each(function () {

                    $(this).val('');
                    var oldName = $(this).attr("name");
                    console.log(oldName);

                    var newName = oldName.replace(0, fieldCount);

                    $(this).attr("name", newName);
                });
                educationContainer.find("td:last").append(removeButton);
                educationContainer.appendTo("#tableEducation");
                x++;

            });
            $(document).on('click', 'button.deletebtn', function () {
                $(this).closest('tr').remove();

                $('#tableEducation').children().each(function (index) {

                    $(this).find('td input').each(function () {


                        // var oldName = $(this).attr("name");
                        var oldName = $(this).attr("name");

                        var newName = oldName.replace(/\[\d+\]/, '[' + index + ']');
                        $(this).attr("name", newName);


                    });


                });
               
            });
            // for english calender
            // $(".datepicker").datepicker({
            //     dateFormat: "dd-mm-yy",
            //     changemonth: true,
            //     changeyear: true
            // });
            //for nepali calender
            window.onload = function () {
                var mainInput = document.getElementsByClassName("datepicker");
                mainInput.nepaliDatePicker({
                    ndpYear: true,
                    ndpMonth: true,
                    ndpYearCount: 10
                });
            };
        

      
        $("#photo").change(function () {
            
            var fileInput = this;
            var file = fileInput.files[0];

            if (file) {
                
                var reader = new FileReader();
                reader.onload = function (e) {
                   
                    $("#photoPreview").attr("src", e.target.result);
               
                    $("#photoPreview").show();
                };
                reader.readAsDataURL(file);
            }
            return true;
        });
    });


   
</script>
     





