
@model PersonalInformation
@{
    ViewData["Title"] = "PersonalInformations";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<style>
    .MainHeading {
        background-color:cornflowerblue !important;
        color: white !important;
    }

    .form-check-input {
        position: absolute;
        margin-top: 0.3rem;
        margin-left: 1rem;
    }

    .text-red{
        color:red;
    }
</style>
<form id="form1">   
<table style="width:100%" class="table table-hover">

    <tr>
        <th class="MainHeading" colspan="6"> Personal Information </th>

    </tr>
</table>
<div class="row">
    <div class="col-md-4">
        @Html.LabelFor(x => x.FirstName)
        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.FirstName,"" ,new{@class= "text-red"})
    </div>

    <div class="col-md-4">
        @Html.LabelFor(X => X.MiddleName)
        @Html.TextBoxFor(x => x.MiddleName,new { @class = "form-control" })
    </div>


    <div class="col-md-4">
        @Html.LabelFor(X => X.LastName)
        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", type = "string" })
    </div>

    <br />


    <div class="col-md-2">
        @Html.LabelFor(X => X.ProvienceId)
        @Html.TextBoxFor(x => x.ProvienceId, new { @class = "form-control", type = "string" })
    </div>


    <div class="col-md-3">
        @Html.LabelFor(X => X.DistrictId)
        @Html.TextBoxFor(x => x.DistrictId, new { @class = "form-control", type = "string" })
    </div>
    <div class="col-md-3">
        @Html.LabelFor(X => X.MuniId)
        @Html.TextBoxFor(x => x.MuniId, new { @class = "form-control", type = "" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(X => X.Tole)
        @Html.TextBoxFor(x => x.Tole, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(X => X.Ward)
        @Html.TextBoxFor(x => x.Ward, new { @class = "form-control", type = "number" })
    </div>
    <br />

    <div class="col-md-4">

        @Html.LabelFor(X => X.HomePhoneNumber)
        @Html.TextBoxFor(x => x.HomePhoneNumber, new { @class = "form-control", type = "number", placeholder = "Enter Home PhoneNumber" })
    </div>

    <div class="col-md-4">
        @Html.LabelFor(X => X.Mobile)
        @Html.TextBoxFor(x => x.Mobile, new { @class = "form-control", type = "number", placeholder = "Enter your phone number" })
    </div>

    <div class="col-md-4">

        @Html.LabelFor(X => X.CitizenshipNo)
        @Html.TextBoxFor(x => x.CitizenshipNo, new { @class = "form-control" })
    </div>
    <br />


    <div class="col-md-6">
        @Html.LabelFor(X => X.Email)
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Enter your Email" })
    </div>

    <div class="col-md-6">
        <br />
        @Html.LabelFor(X => X.HasLicence)
        @Html.CheckBoxFor(x => x.HasLicence, new { @class = "form-check-input" })




    </div>
</div>
<br/>

<div class="form-group">
    <input type="submit" value="Submit" class="btn" />
</div>
</form>
<script src="~/plugins/jquery/jquery.min.js"></script> 
<script>
    $(document).ready(function () {

        $(".btn").click(function (e) {
            debugger;
            //Serialize the form datas.
            var valdata = $("#form1").serialize();
            console.log(valdata);
            //to get alert popup
            
            $.ajax({
                url: "/PersonalInformations/PersonalInformationDetails",
                type: "POST",
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: valdata,
                success: function (response) {
                    debugger;
                    console.log("Hello");
                    console.log(response);
                }
            });
        });
    });
</script>