@model References
@{
    ViewData["Title"] = "References";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<style>
    .MainHeading {
        background-color: cornflowerblue !important;
        color: white !important;
    }

    .form-check-input {
        position: absolute;
        margin-top: 0.3rem;
        margin-left: 1rem;
    }

    .text-red {
        color: red;
    }

    .card {
        box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 80%;
        margin: auto;
        margin-top: 50px;
        padding: 20px;
    }

    .card-header {
        background-color: cornflowerblue;
        color: white;
    }
</style>
<div class="card">
    <div class=" card-header MainHeading">

        References
    </div>
    <div class="card-body">

        <form method="post" enctype="multipart/form-data" asp-controller="PersonalInformations" asp-action="References">
            <table style="width:100%" class="table table-hover">
            </table>
            <table style="width:100%" class="table table-bordered">
                <tr>

                    <th>@Html.Label("Name") </th>
                    <th>@Html.Label("Position") </th>
                    <th>@Html.Label("College/Company") </th>
                    <th>@Html.Label("Phone ")</th>
                    <th>@Html.Label("Signature")</th>

                </tr>
                <tr>
                    <td> @Html.TextBoxFor(x => x.Name)</td>
                    <td> @Html.TextBoxFor(x => x.Positions)</td>
                    <td> @Html.TextBoxFor(x => x.CollegeorCompany)</td>
                    <td> @Html.TextBoxFor(x => x.Phone, new { @class = "" })</td>
                    <td> @Html.TextBoxFor(x => x.Signature)</td>
                </tr>
            </table>


            <div class="form-group">
                <input type="submit" id="submitBtn" value="Submit" class="btn btn-primary" />
                <a href="@Url.Action("References", "PersonalInformations")" class="btn btn-primary float-right"> Next</></a>
            </div>
        </form>

    </div>
</div>