@model List<CreateInternship>

@{
    ViewData["Title"] = "Internship Cards";
    Layout = "~/Views/Shared/AdminLTECompany/_Layout.cshtml";
}
<style>
    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 50px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 350px;
        margin: auto;
        margin-top: 50px;
        padding: 20px;
        border-radius: 15px;
        background-color: #f8f9fa;
        height: 350px;
        position: relative;
        overflow-y: auto; /* Enable vertical scroll */
    }

    .card-title {
        font-size: 24px;
        margin-bottom: 20px;
        color: #dc3545;
    }

    .label {
        font-weight: bold;
        color: #000000;
    }

    .card-text {
        margin-bottom: 10px;
        font-weight: normal;
        color: #343a40;
    }

    .apply-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #dc3545;
        border-color: #dc3545;
    }

    .btnn {
        position: absolute;
        top: 10px;
        background-color: #dc3545;
        border-color: #dc3545;
    }
</style>
<div class="card-container">
    @foreach (var Internship in Model)
    {
        <div class="card">

            <div class="card-body">

                <div class="row">

                    <div class="col-md-12">
                        <h5 class="card-title">@Internship.TitleOfInternship</h5>
                    </div>
                    <a asp-controller="Student" asp-action="Details" class="btn btn-primary apply-button">Applied Student</a>


                    <div class="col-md-6">
                        <span class="label">Company Name:</span>
                        <p class="card-text">@Internship.NameOfCompany</p>
                    </div>
                    <div class="col-md-6">
                        <span class="label">Address:</span>
                        <p class="card-text">@Internship.Address</p>
                    </div>
                    <div class="col-md-6">
                        <span class="label">Offered-Salary:</span>
                        <p class="card-text">@Internship.OfferedSalary</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <span class="label">Type:</span>
                        <p class="card-text">@EnumHelper.GetDisplayName((TypeOfInternship)Internship.SelectedType)</p>
                    </div>
                    <div class="col-md-6">
                        <span class="label">Location:</span>
                        @{
                            LocationType location;
                            Enum.TryParse(Internship.Location, out location);
                        }
                        <p class="card-text">@EnumHelper.GetDisplayName(location)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <span class="label">Duration:</span>
                        <p class="card-text">@Internship.Duration</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="label">Job Description:</span>
                        <p class="card-text">@Html.Raw(Internship.JobDescription)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="label">Responsibility:</span>
                        <p class="card-text">@Html.Raw(Internship.Responsiblity)</p>
                    </div>
                </div>
                

            </div>

        </div>

    }
</div>