@using InternshipForm.ViewModel
@model InternshipFormViewModel




<link href="https://nepalidatepicker.sajanmaharjan.com.np/nepali.datepicker/css/nepali.datepicker.v4.0.1.min.css"
      rel="stylesheet" type="text/css" />
<link href="~/plugins/jquery-ui/jquery-ui.structure.css" rel="stylesheet" />
<link href="~/plugins/jquery-ui/jquery-ui.structure.min.css" rel="stylesheet" />
<link href="~/plugins/jquery-ui/jquery-ui.theme.min.css" rel="stylesheet" />
<link href="~/plugins/jquery-ui/jquery-ui.theme.css" rel="stylesheet" />
<link href="~/plugins/jquery-ui/jquery-ui.structure.css" rel="stylesheet" />

<style>
    .MainHeading {
        background-color: black !important;
        color: white !important;
    }

    .form-check-input {
        position: absolute;
        margin-top: 0.3rem;
        margin-left: 1rem;
    }

    .text-red {
        color: red;
    }

</style>
<form method="post" enctype="multipart/form-data" asp-controller="Education" asp-action="Education">

<table style="width:100%" class="table table-hover">

    <tr>
        <th class="MainHeading" colspan="6"> Education </th>

    </tr>
</table>
<table style="width:100%" class="table table-bordered">
    <tr colspan="6">
    <thead>


        <tr>
            <th> @Html.Label("School/CollegeName")</th>

            <th>@Html.Label("Location") </th>
            <th>@Html.Label("StartYear") </th>
            <th>@Html.Label("CompletionYear")</th>
            <th>@Html.Label("Major")</th>
            <th> Action</th>
        </tr>
    </thead>

<tbody id="tableEducation">
    @for (int i = 0; i < Model.Education.Count; i++)
    {
        <tr id="row_@i">
            <td>
                            @Html.HiddenFor(x => x.Education[i])
                @Html.TextBoxFor(x => x.Education[i].School_CollegeName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Education[i].School_CollegeName, "", new { @class = "text-red" })
            </td>
            <td>
                @Html.TextBoxFor(x => x.Education[i].Location, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Education[i].Location, "", new { @class = "text-red" })
            </td>
            <td>
                @Html.TextBoxFor(x => x.Education[i].StartYear, new { @class = "form-control datepicker" })
                @* @Html.ValidationMessageFor(x => x.Education[i].StartYear, "", new { @class = "text-red" }) *@
            </td>
            <td>
                @Html.TextBoxFor(x => x.Education[i].CompletionYear, new { @class = "form-control datepicker" })
                @* @Html.ValidationMessageFor(x => x.Education[i].CompletionYear, "", new { @class = "text-red" }) *@
            </td>
            <td>
                @Html.TextBoxFor(x => x.Education[i].Major, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Education[i].Major, "", new { @class = "text-red" })
            </td>
            <td>
                <!-- Uncomment this line if you plan to use a delete button -->
                <!-- <button type="button" class="deletebtn" title="Remove row">Delete</button> -->
            </td>
        </tr>
    }
</tbody>

</table>
<button class="btn btn-md btn-primary" id="newbtn" type="button"> Add </button>
<br />

 <br />
    <div class="form-group">
        <input type="submit" id="submitBtn" value="submit" class="btn  bg-primary" />
    </div>
    </form>



<script src="https://nepalidatepicker.sajanmaharjan.com.np/nepali.datepicker/js/nepali.datepicker.v4.0.1.min.js"
        type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"> </script>
<script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

 <script type="text/javascript" >

        $(document).ready(function () {
            var x = 1;
            $("#newbtn").click(function () {

                var educationContainer = $("#tableEducation tr:first").clone();
                var removeButton = '<button class="btn btn-md btn-primary deletebtn" type="button" title="Remove row">Delete</button>';

                var fieldCount = $("#tableEducation").children().length;
                console.log(fieldCount);

                educationContainer.find("input").each(function () {

                    $(this).val('');
                    var oldName = $(this).attr("name");
                    console.log(oldName);

                    var newName = oldName.replace(0, fieldCount);

                    $(this).attr("name", newName);
                });
                educationContainer.find("td:last").append(removeButton);
                educationContainer.appendTo("#tableEducation");
                x++;

            });
            $(document).on('click', 'button.deletebtn', function () {
                $(this).closest('tr').remove();

                $('#tableEducation').children().each(function (index) {

                    $(this).find('td input').each(function () {


                        // var oldName = $(this).attr("name");
                        var oldName = $(this).attr("name");

                        var newName = oldName.replace(/\[\d+\]/, '[' + index + ']');
                        $(this).attr("name", newName);


                    });


                });
               
            });
            // for english calender
            // $(".datepicker").datepicker({
            //     dateFormat: "dd-mm-yy",
            //     changemonth: true,
            //     changeyear: true
            // });
            //for nepali calender
            window.onload = function () {
                var mainInput = document.getElementsByClassName("datepicker");
                mainInput.nepaliDatePicker({
                    ndpYear: true,
                    ndpMonth: true,
                    ndpYearCount: 10
                });
            };
        

      
      
    });


   
</script>
